body{
  margin: 20px auto;
  max-width: 700px;
  width: 80%;
  border: 20px solid #05330c;
  padding: 20px;
  font-family: helvetica;
}
h1 {
  text-transform: capitalize;
}
.date {
  text-transform: uppercase;
  color: #095917;
  letter-spacing: 0.2rem;
}
.firstP {
  border-left: 5px solid #05330c;
  padding-left: 5px;
}
